# E.Coli Project: Python libraries we will be using in our project. Firstly, please ensure that you are using Python version 3.8

# Machine Learning and Porjections:
-scikit-learn (0.23.2)


# Reading and formatting files:
-pandas (1.1.5)
-os 


# Graphics and data visualiztion:
-plotly (4.14.0)
-xlrd (1.2.0 or 1.2.1)

# Testing:
- python-ta (1.6.2b1)